nav {
      margin: 2.5rem 0 2.5rem 0;
      font-size: 1.125rem;
}

nav a {
      color: var(--green);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 5px;
  color: var(--green);
}

.rss {
      color: var(--blue-green);
      font-size: 0.75rem;
}